.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, var(--ifm-color-primary) 0%, var(--ifm-color-primary-dark) 100%);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.buttons .button {
    margin: 0 0.5rem;
}

@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}